.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

input{
  height: 35px;

}
.form-group{
    margin-left: 7px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.temperature{
color: white;
  font-size: 35px;
  position: absolute;
   z-index: 1;
   margin-right: 320px;

}
.item2{
    border: 1px solid green;
    height: 199px;
    width: 350px;
    background-color: rgb(127, 96, 156);
    margin-left: 20px;
    text-align: center;
    position: relative;
}

.div1{
    margin-top: 30px;
}